
<!-- search bar -->

<!-- search bar -->
<div class="container search-bar dropdown d-flex justify-content-end mt-5">
  <div class="wrap">
    <form action="/search" method="GET">
    <div class="search">
      <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
      </button>
      <input type="text" name="keyword" class="searchTerm" placeholder="想吃什麼？" aria-label="" value="{{keyword}}" aria-describedby="search-button">
    </div>
    </form>
  </div>
</div>

<!--notFound -->
<div class="container mb-5 mt-2" style="height: 300px;">
  <div class="row justify-content-center">
    <div class="mt-5 notfound text-center">
      <i class="fas fa-6x text-danger mb-3"></i>
      <h3>We looked around, but...</h3>
      <h3>" <b class="text-danger">{{keyword}}</b> " isn't here!</h3>
      <h5>Recommend using the name of restaurant, location, and type of food as keyword</h5>
    </div>
  </div>
</div>